<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baobei.attendance.web.mapper.DormitoryMapper">
    <insert id="addDormitories" parameterType="com.baobei.attendance.entity.Dormitory" useGeneratedKeys="true"
            keyProperty="id">
        insert into dormitories(community,building, room_no,room_name, capacity)
        values
        <foreach collection="list" item="dormitory" index="index" separator=",">
            (#{dormitory.community},#{dormitory.building},#{dormitory.roomNo},#{dormitory.roomName},
            #{dormitory.capacity})
        </foreach>

    </insert>

    <update id="updateDormitory" parameterType="com.baobei.attendance.entity.Dormitory">
        update dormitories
        <set>
            <if test="community != null">
                community = #{community},
            </if>
            <if test="building != null">
                building = #{building},
            </if>
            <if test="roomNo != null">
                room_no = #{roomNo},
            </if>
            <if test="roomName != null">
                room_name = #{roomName},
            </if>
            <if test="capacity != null">
                capacity = #{capacity},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteDormitory">
        delete
        from dormitories
        where id = #{id}
    </delete>

    <select id="findDormitoriesByCondition" parameterType="com.baobei.attendance.model.search.DormitorySearch"
            resultType="com.baobei.attendance.entity.Dormitory">
        select *
        from dormitories
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="roomName != null">
                AND room_name like concat('%',#{roomName},'%')
            </if>
            <if test="community != null">
                AND community = #{community}
            </if>
            <if test="building != null">
                AND building = #{building}
            </if>
            <if test="roomNo != null">
                AND room_no = #{roomNo}
            </if>
        </where>
        limit #{offset},#{limit}
    </select>

    <select id="findDormitoryCountByCondition" parameterType="com.baobei.attendance.model.search.DormitorySearch"
            resultType="java.lang.Integer">
        select count(*)
        from dormitories
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="roomName != null">
                AND room_name like concat('%',#{roomName},'%')
            </if>
            <if test="community != null">
                AND community = #{community}
            </if>
            <if test="building != null">
                AND building = #{building}
            </if>
            <if test="roomNo != null">
                AND room_no = #{roomNo}
            </if>
        </where>
    </select>

    <select id="findDormitoryById" parameterType="java.lang.Long" resultType="com.baobei.attendance.entity.Dormitory">
        select *
        from dormitories
        where id = #{dormitoryId}
    </select>

    <select id="findDormitoryByRoomName" parameterType="java.lang.String"
            resultType="com.baobei.attendance.entity.Dormitory">
        select *
        from dormitories
        where room_name = #{roomName}
    </select>
</mapper>