<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baobei.attendance.web.mapper.SchoolMapper">

    <insert id="addClasses" parameterType="com.baobei.attendance.entity.Class" useGeneratedKeys="true" keyProperty="id">
        insert into classes(class_no, class_name, major_name, department_name)
        values
        <foreach collection="list" item="class" index="index" separator=",">
            (#{class.classNo}, #{class.className}, #{class.majorName}, #{class.departmentName})
        </foreach>
    </insert>


    <update id="updateClass" parameterType="com.baobei.attendance.entity.Class">
        update classes
        <set>
            <if test="classNo != null">
                class_no = #{classNo},
            </if>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="majorName != null">
                major_name = #{majorName},
            </if>
            <if test="departmentName != null">
                department_name = #{departmentName},
            </if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteClassById">
        delete
        from classes
        where id = #{id}
    </delete>

    <select id="findClassesByCondition" parameterType="com.baobei.attendance.model.search.ClassSearch"
            resultType="com.baobei.attendance.entity.Class">
        select *
        from classes
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="className != null">
                AND class_name like concat('%',#{className},'%')
            </if>
            <if test="departmentName != null">
                AND department_name like concat('%',#{departmentName},'%')
            </if>
            <if test="majorName != null">
                AND major_name like concat('%',#{majorName},'%')
            </if>
        </where>
        limit #{offset},#{limit}
    </select>

    <select id="findClassCountByCondition" parameterType="com.baobei.attendance.model.search.ClassSearch"
            resultType="java.lang.Integer">
        select count(*)
        from classes
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="className != null">
                AND class_name like concat('%',#{className},'%')
            </if>
            <if test="departmentName != null">
                AND department_name like concat('%',#{departmentName},'%')
            </if>
            <if test="majorName != null">
                AND major_name like concat('%',#{majorName},'%')
            </if>
        </where>
    </select>

    <select id="findClassById" parameterType="java.lang.Long" resultType="com.baobei.attendance.entity.Class">
        select *
        from classes
        where id = #{id}
    </select>

    <select id="findAllClasses" resultType="com.baobei.attendance.entity.Class">
        select *
        from classes;
    </select>

    <select id="findClassesByIds" parameterType="java.util.List" resultType="com.baobei.attendance.entity.Class">
        select * from classes
        where id in
        <foreach collection="list" index="index" item="classId" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </select>
</mapper>