<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baobei.attendance.web.mapper.WebUserMapper">
    <select id="findWebUserByAccount" resultType="com.baobei.attendance.web.entity.WebUser">
        select *
        from web_users
        where account = #{account}
    </select>

    <select id="findWebUserByWebUserId" resultType="com.baobei.attendance.web.entity.WebUser">
        select *
        from web_users
        where id = #{webUserId}
    </select>

    <select id="findWebUserClassIds" resultType="java.lang.Long">
        select class_id
        from managements
        where web_user_id = #{webUserId}
    </select>

    <select id="findWebUsersByCondition" parameterType="com.baobei.attendance.web.entity.WebUserSearch"
            resultType="com.baobei.attendance.web.entity.WebUser">
        select * from web_users
        <where>
            <if test="teacherNo != null">
                teacher_no = #{teacherNo}
            </if>
            <if test="account != null">
                AND account = #{account}
            </if>
            <if test="department != null">
                AND department like concat('%',#{department},'%')
            </if>
            <if test="adminName != null">
                AND admin_name like concat('%',#{adminName},'%')
            </if>
        </where>
        limit #{offset},#{limit}
    </select>

    <select id="findWebUserCountByCondition" parameterType="com.baobei.attendance.web.entity.WebUserSearch"
            resultType="java.lang.Integer">
        select count(*) from web_users
        <where>
            <if test="teacherNo != null">
                teacher_no = #{teacherNo}
            </if>
            <if test="account != null">
                AND account = #{account}
            </if>
            <if test="department != null">
                AND department like concat('%',#{department},'%')
            </if>
            <if test="adminName != null">
                AND admin_name like concat('%',#{adminName},'%')
            </if>
        </where>
    </select>

    <insert id="addWebUser" parameterType="com.baobei.attendance.web.entity.WebUser" useGeneratedKeys="true"
            keyProperty="id">
        insert into web_users(teacher_no, account, admin_name, password, department, phone)
        values (#{teacherNo}, #{account}, #{adminName}, #{password}, #{department}, #{phone})
    </insert>

    <insert id="addWebUserManagements">
        insert into managements(web_user_id,class_id)
        values
        <foreach collection="classIds" item="classId" index="index" separator=",">
            (#{webUserId},#{classId})
        </foreach>
    </insert>

    <update id="updateWebUser" parameterType="com.baobei.attendance.web.entity.WebUser">
        update web_users
        <set>
            <if test="teacherNo != null">
                tescher_no = #{teacherNo},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="department != null">
                department = #{department},
            </if>
            <if test="adminName != null">
                admin_name = #{adminName},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteWebUserManagements">
        delete
        from managements
        where web_user_id = #{webUserId}
    </delete>

    <delete id="deleteWebUser">
        delete
        from web_users
        where id = #{webUserId}
    </delete>
</mapper>